@font-face {
  font-family: "DrukBold";
  src: url("/Druk-Bold-Web.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "DrukSuper";
  src: url("/DrukCyTTSuper.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Basis";
  src: url("/BasisGrotesquePro-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Basis";
  src: url("/BasisGrotesquePro-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: block;
}
@font-face {
  font-family: "ApercuMonoPro-Medium";
  src: url("/ApercuMonoPro-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Basis", "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.3px;
  height: 100%;
  font-size: 16px;
  /* line-height: 1.15em; */
  /* overflow: hidden; */
  background-color: #fff;
  --plyr-color-main: #6abf4b;
  color: #30303c;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
/* 
.cover-canvas {
  pointer-events: none;
}

.cover-canvas * {
  pointer-events: none;
} */

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.6px);
  }
}
